<div class="item-attribute student-grade">
  <%= simple_form_for grade, remote: true, url: grade_path do |f| %>
  <%= f.input :earned_points, label: false, input_html: {class: "earned-points"} %>
  <%= f.input :id, as: :hidden, value: grade.id %>
  <div class="hidden submit-button">
    <%= f.button :button, class: "btn edu-button" do %>
      Edit Grade
      <div class="text-underline-green"></div>
    <% end %>
  </div>
  <% end %>
</div>
