<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <li><%= "#{student.first_name} #{student.last_name}" %> <%= link_to edit_student_path(student) do %> <i class="fa fa-pencil" aria-hidden="true"></i> <% end %></li>
    </div>
  </div>
</div>
