// Your footer style
.sticky-footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  background-color: white;
  width: 100%;
  padding: 2vmax 3vmax;
  text-align: right;
  box-shadow: 0 -1px 1px 1px rgba(0,0,0, 0.2);
}
