<%= simple_form_for @school_class do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <ul class="list-inline">
  <li>
    <%= f.button :button, class: "btn edu-button" do %>
    Submit
    <div class="text-underline-green"></div>
    <% end %>
  </li>
<% end %>
