<h1>Your classes</h1>

<% @school_classes.each do |school_class| %>
  <p><%= link_to school_class.name, school_class_path(school_class) %></p>
<% end %>

<%=link_to "Add a Class", new_school_class_path, class: 'btn btn-success' %>
