<h1>Your classes</h1>

<% @school_classes.each do |school_class| %>
  <p><%= link_to school_class.name, school_class_path(school_class) %></p>
<% end %>


<% if policy(SchoolClass).create? %>
  <%=link_to new_school_class_path, class: 'btn edu-button' do %>
    Create a Class
    <div class="text-underline-green"></div>
  <% end %>
<% end %>
