#calendar {
  margin: 0.2em;
  min-height: 500px;

  .fc-left {
    h2 {
      font-size: 2.2vmax;
      font-weight: bold;
    }
  }
  .fc-button {
    font-size: 0.9em;
  }
  table {
    // min-height: 500px;
  }
  // .fc-scroller {
  //   overflow-y: hidden !important;
  // }

  .fc-day-grid-container.fc-scroller {
    height: auto!important;
    overflow-y: auto;
  }

  .fc-day-header {
    font-size: 2.1vmax;
  }
}
