.card-wrapper {
  background-color: white;
  margin: 2vmax 1vmax;
  padding: .25vmax;
  border-radius: 8px;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.1);

  h1, h2, h3 {
    font-weight: bold;
    text-align: center;
    color: $eduassist-gray;
  }

  h1 {
    font-size: 3.5vmax;
  }

  h2 {
    font-size: 3vmax;
  }

  h3 {
    font-size: 2.5vmax;
  }

  p {
    margin-bottom: 2px;
    text-align: justify;
    font-size: 1.8vmax;
  }

  .container {
    width: 100%;
  }
}
.card {
  border: 1px solid $eduassist-gray;
  border-radius: 8px;
  box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.2);
  padding: 1.5vmax 3vmax;
  margin: 1.7vmax 0;
  text-align: center;

  a {
    text-decoration: none;
    color: $eduassist-gray;
  }

  p {
    margin-bottom: 0;
    font-size: 2.5vmax;
    text-align: center;
  }

  .bottom-border {
    border-bottom: 2px solid $green;
  }
}
#struggling-students {
  font-size: 2.2vmax;
  text-align: left;
  color: $eduassist-gray;
  i {
    padding-right: 20px;
    color: $red;
  }
}
.card-image {
  width: 60%;
  margin-bottom: 1vmax;
}

.attendance-card-show {
  position: relative;
  height: 6vh;
  border: 1px solid $eduassist-gray;
  border-radius: 8px;
  box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.2);
  padding: 1.5vmax 3vmax;
  margin: .8vmax 0;

  .student-name {
    position: absolute;
    top: 1vh;
    left: 1vh;
    font-size: 3vmax;
  }

  .student-present {
    position: absolute;
    top: 1vh;
    right: 1vh;
    font-size: 3vmax;
  }
}

.attendance-card {
  position: relative;
  height: 20vh;
  border: 1px solid $eduassist-gray;
  border-radius: 8px;
  box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.2);
  padding: 1.5vmax 3vmax;
  margin: 1.7vmax 0;

  .student-name {
    position: absolute;
    top: 10%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */
    transform: translate(-50%);
    color: $eduassist-gray;

    h4 {
      font-size: 4vmax;
    }
  }

  .student-present {
    position: absolute;
    bottom: 1vh;
    right: 1vh;
    font-size: 10vmax;
  }

  .student-absent {
    position: absolute;
    bottom: 1vh;
    left: 1vh;
    font-size: 10vmax;
  }

  .swipe-instructions-left {
    position: absolute;
    bottom: 2vh;
    left: 1vh;
    font-size: 3vmax;

    i {
      font-size: 5vmax;
      // text-shadow: 0px 2px 2px $eduassist-gray;
    }
  }

  .swipe-instructions-right {
    position: absolute;
    bottom: 2vh;
    right: 1vh;
    font-size: 3vmax;

    i {
      font-size: 5vmax;
      // text-shadow: 0px 2px 2px $eduassist-gray;
    }
  }
}
.wrapper-with-sticky-footer {
  margin-bottom: 13vmax;
}
