<h2><%= @date.strftime("%A, %d %B %Y") %></h2>

<% path = update_attendance_school_class_path %>
<% form_options = { method: :patch, id: 'attendance' } %>

<%= render 'form', path: path, form_options: form_options %>
